<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>byyl@51qrterrf.arg</string>
	<key>contactName</key>
	<string>Oliver Legg</string>
	<key>description</key>
	<string>Support for &lt;a href="http://www.thoughtbot.com/projects/factory_girl"&gt;Factory Girl&lt;/a&gt;.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>FE849AE2-89D1-4AEF-8C22-57D79457F0AC</string>
			<string>93DB4382-3BD8-4049-9422-1BD0611B3F94</string>
			<string>AD031C63-7712-4124-887A-BA60EDEEC6AF</string>
			<string>86A59E4B-D889-464F-BF4E-D935110AD5ED</string>
			<string>------------------------------------</string>
			<string>AB5CDA49-1BF3-477C-82FE-2A7F1B6B9ED2</string>
			<string>82E2214D-3457-42AE-A25B-DC90A270EFE4</string>
			<string>------------------------------------</string>
			<string>11B3F310-CF79-47B5-8A42-8051ECD2954C</string>
			<string>8750F29F-D945-4349-96A4-5CF0BF217D38</string>
			<string>A13D3CED-841F-4562-B8FE-BD093A5A6ADE</string>
			<string>71757FAE-3E48-4347-A1FD-D3FBBF3F717B</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Factory Girl</string>
	<key>ordering</key>
	<array>
		<string>8750F29F-D945-4349-96A4-5CF0BF217D38</string>
		<string>93DB4382-3BD8-4049-9422-1BD0611B3F94</string>
		<string>AD031C63-7712-4124-887A-BA60EDEEC6AF</string>
		<string>86A59E4B-D889-464F-BF4E-D935110AD5ED</string>
		<string>AB5CDA49-1BF3-477C-82FE-2A7F1B6B9ED2</string>
		<string>2595831C-7B9C-4096-B91D-EE140A1CF25C</string>
		<string>8A924C13-D839-4531-8D61-8057024B5CA3</string>
		<string>1BA69CAC-E302-4846-AFF7-93D811C2FF04</string>
		<string>71757FAE-3E48-4347-A1FD-D3FBBF3F717B</string>
		<string>72EB76C6-1F41-4782-8578-15B766B15AD1</string>
		<string>2A318EBE-9728-4909-A62A-D976C3B9129C</string>
		<string>F30D6348-1E06-4B47-AD56-423F530AEAAC</string>
	</array>
	<key>uuid</key>
	<string>8EDBE2CA-575A-42BC-9F36-BD4C99B4DE56</string>
</dict>
</plist>
